{% extends "base.html" %}
 {% load staticfiles catalog_tag %}

{% block main %}
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'home' %}">Главная</a>
                        </li>
                        {% if category.parent.parent.parent %}<li><span class="icon-chevron-right"></span></li>
                        <li><a href="{{ category.parent.parent.parent.get_absolute_url }}">{{ category.parent.parent.parent }}</a></li>{% endif %}
                        {% if category.parent.parent %}<li><span class="icon-chevron-right"></span></li>
                        <li><a href="{{ category.parent.parent.get_absolute_url }}">{{ category.parent.parent }}</a></li>{% endif %}
                        {% if category.parent %}<li><span class="icon-chevron-right"></span></li>
                        <li><a href="{{ category.parent.get_absolute_url }}">{{ category.parent }}</a></li>{% endif %}
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="push-up blocks-spacer">
            <div class="row">

                <!--  ==========  -->
                <!--  = Sidebar =  -->
                <!--  ==========  -->
                <aside class="span3 left-sidebar" id="tourStep1">
                    <div class="sidebar-item sidebar-filters" id="sidebarFilters">

                        <!--  ==========  -->
                        <!--  = Sidebar Title =  -->
                        <!--  ==========  -->
                        <div class="underlined">
                        	<h3><span class="light">Категории</span></h3>
                        </div>

                        <!--  ==========  -->
                        <!--  = Categories =  -->
                        <!--  ==========  -->
                        <div class="accordion-group" id="tourStep2">
{#                            <div class="accordion-heading">#}
{#                                <a class="accordion-toggle" data-toggle="collapse" href="#filterOne">Категории <b class="caret"></b></a>#}
{#                            </div>#}
                            <div id="filterOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                {% if category.level == 1 %}
                                    {% for menu_left in category.category_parent.all %}
                                    <a href="{{ menu_left.get_absolute_url }}" class="selectable2{% if menu_left.pk == category.pk %} selected{% endif %}"><i class="box"></i> {{ menu_left }}</a>
                                        <ul style="list-style: none">{% for menu_left2 in menu_left.category_parent.all %}
                                            <li><a href="{{ menu_left2.get_absolute_url }}" class="selectable2{% if menu_left2.pk == category.pk %} selected{% endif %}"><i class="box"></i> {{ menu_left2 }}</a></li>
                                        {% endfor %}</ul>
                                    {% endfor %}
                                {% elif category.level == 2 %}
                                    {% for menu_left_top in category.parent.category_parent.all %}
                                        <a href="{{ menu_left_top.get_absolute_url }}" class="selectable2{% if menu_left_top.pk == category.pk %} selected{% endif %}"><i class="box"></i> {{ menu_left_top }}</a>
                                        {% if menu_left_top.pk == category.pk %}<ul style="list-style: none">{% for menu_left in category.category_parent.all %}
                                        <li><a href="{{ menu_left.get_absolute_url }}" class="selectable2"><i class="box"></i> {{ menu_left }}</a></li>
                                        {% endfor %}</ul>{% endif %}
                                    {% endfor %}

                                {% else %}
                                    {% for menu_left_top in category.parent.parent.category_parent.all %}
                                        <a href="{{ menu_left_top.get_absolute_url }}" class="selectable2"><i class="box"></i> {{ menu_left_top }}</a>
                                        {% if menu_left_top.pk == category.parent.pk %}<ul style="list-style: none">{% for menu_left in category.parent.category_parent.all %}
                                        <li><a href="{{ menu_left.get_absolute_url }}" class="selectable2{% if menu_left.pk == category.pk %} selected{% endif %}"><i class="box"></i> {{ menu_left }}</a></li>
                                        {% endfor %}</ul>{% endif %}
                                    {% endfor %}
                                {% endif %}

                                </div>
                            </div>
                        </div> <!-- /categories -->




                        <!--  ==========  -->
                        <!--  = Filter =  -->
                        <!--  ==========  -->
                        <form method="get">

                        {% if request.GET and 'page' in request.GET %}<input type="hidden" name="page" value="{{ request.GET.page }}">{% endif %}
{#                        {% csrf_token %}#}
                        {% if offers %}<div class="accordion-group" id="tourStep3">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterShop">Магазины ({{ offers.count }}) <b class="caret"></b></a>
                            </div>
                            <div id="filterShop" class="accordion-body in collapse">
                                <div class="accordion-inner">
                                    {% for offer in offers %}
                                    <label><input type="checkbox" name="offer_val" value="{{ offer.pk }}"{% if 'offer_val' in arr_get and offer.pk in arr_get.offer_val %} checked{% endif %}> {{ offer }}</label>
{#                                    <a href="#" class="selectable detailed acheckbox"><i class="box"></i>{{ offer }}</a>#}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>{% endif %}

                        {% if brands %}<div class="accordion-group" id="tourStep3">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterBrand">Бренды ({{ brands.count }}) <b class="caret"></b></a>
                            </div>
                            <div id="filterBrand" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div style="height: 150px; width: 200px; overflow-y: scroll; border: 1px solid #CCCCCC; padding: 5px; margin: 5px;">
                                    {% for brand in brands %}
                                    <label><input type="checkbox" name="vendor_val" value="{{ brand.pk }}"{% if 'vendor_val' in arr_get and brand.pk in arr_get.vendor_val %} checked{% endif %}> {{ brand }}</label>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>{% endif %}

                        {% if fparams %}{% for param in fparams %}<div class="accordion-group" id="tourStep3">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterparam{{ param.pk }}">{{ param }} ({{ param.filters_settings.count }}) <b class="caret"></b></a>
                            </div>
                            <div id="filterparam{{ param.pk }}" class="accordion-body in collapse">
                                <div class="accordion-inner">
                                    {% for prm in param.filters_settings.all %}
                                        <label><input type="checkbox" name="param_val" value="{{ prm.pk }}"{% if 'param_val' in arr_get and prm.pk in arr_get.param_val %} checked{% endif %}> {{ prm }}</label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>{% endfor %}{% endif %}
                        <button id="submit" tabindex="5" type="submit" class="btn btn-primary bold">Искать</button>
                        </form>
                        <!-- /Filter -->




                    </div>
                </aside> <!-- /sidebar -->

                <!--  ==========  -->
                <!--  = Main content =  -->
                <!--  ==========  -->
                <section class="span9">

                    <!--  ==========  -->
                    <!--  = Title =  -->
                    <!--  ==========  -->
                    <div class="underlined push-down-20">
                        <div class="row">
                            <div class="span6">
                                <h1 style="font-size: 20px;">{% if category.h1 %}{{ category.h1 }}{% elif not category.h1 and category.short_name %}{{ category.short_name }}{% else %}{{ category.name }}{% endif %} <span class="light">({{ item_count|ru_price }} товаров)</span></h1>
                            </div>
{#                            <div class="span6">#}
{#                                <div class="form-inline sorting-by" id="tourStep4">#}
{#                                    <form method="post" style="margin: 0;">#}
{#                                        {% csrf_token %}#}
{#                                    <label for="numberShown" class="black-clr">Показывать по:</label>#}
{#                                    <select id="numberShown" class="span1" name="num_pages">#}
{#                                        <option value="9">25</option>#}
{#                                        <option value="15">50</option>#}
{#                                        <option value="30">100</option>#}
{#                                    </select>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div> <!-- /title -->
                    {% if category.seo_text %}
                    <article class="post format-standard sticky" id="text_hiden">
                        <div class="post-inner">
                            <div class="post-title">
{#                            	<h2><span class="light">{{ category }}</span></h2>#}
                            </div>
                            <div class="div_text_category">{% autoescape off %}{{ category.seo_text }}{% endautoescape %}</div>
                            <div class="text_block-overlay" style="display: block;"></div>
                            <div class="text_block-action" align="center">
                                <a href="#" class="readmore">Читать далее</a>
                            </div>
                        </div>
                    </article>
                    {% endif %}

                    <!--  ==========  -->
                    <!--  = Products =  -->
                    <!--  ==========  -->
                    <div class="row popup-products">
                        <div id="isotopeContainer" class="isotope-container">


                            {% for item in items %}
                    	    <div class="span3 shight3 filter--vests" data-price="{{ item.price }}" data-popularity="1" data-size="xs|m|xl|xxl" data-color="red|pink" data-brand="adidas">
                    	        <div class="product">
                                    {% if item.oldprice %}<div class="stamp red">-{{ item.percent }}%</div>{% endif %}
                    	            <div class="product-img">
                    	                <div class="picture">
                    	                    <img alt="{{ item }}" src="{{ item.thumbnail }}" />
                    	                    <a href="{{ item.get_goto_url }}" rel="nofollow" class="img-overlay" style="cursor: pointer;">
{#                    	                        <a class="btn more btn-primary" href="{{ item.get_absolute_url }}">Подробнее</a>#}
{#                    	                        <a class="btn buy btn-danger" href="{{ item.get_goto_url }}" rel="nofollow">Купить</a>#}
                    	                    </a>
                    	                </div>
                    	            </div>
                                    <div class="product_info">
                                        <div class="main-titles no-margin">
                                            <h4 class="title" style="text-align: center">
                                                {% if item.oldprice %}
                                                <noindex><span class="striked" rel="nofollow">{{ item.oldprice|ru_price }} р.</span></noindex>
                                                <span class="red-clr">{{ item.price|ru_price }}р.</span>
                                                {% else %}{{ item.price|ru_price }} р.
                                                {% endif %}
                                            </h4>
                                            <a class="no-margin isotope--title" href="{{ item.get_absolute_url }}">{{ item }}</a>
                                        </div>
                                        <p class="center-align stars">
                                            <span class="icon-star stars-clr"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                        </p>
                                    </div>
                    	        </div>
                    	    </div>
                            {% endfor %}



                    	</div>
                	</div>
                	<hr />
                    <!--  ==========  -->
					<!--  = Pagination =  -->
					<!--  ==========  -->
            	    <div class="pagination pagination-centered">
                        <ul>
                            {% if items.has_previous %}
                            <li><a href="{% if items.previous_page_number == 1 %}{{ category.get_absolute_url }}{% else %}{{ category.get_absolute_url }}?page={{ items.previous_page_number }}{% endif %}{% if page_linck %}{{ page_linck }}{% endif %}" class="btn btn-primary"><span class="icon-chevron-left"></span></a></li>
                            {% endif %}

{#                            {% for page in items.paginator.page_range %}#}
{#                            <li{% if page == items.number  %} class="active"{% endif %}><a href="{{ category.get_absolute_url }}?page={{ page }}">{{ page }}</a></li>#}
{#                            {% endfor %}#}
                            {% for pag_num in pages_list %}
                                {% if pag_num != "..." %}
                                    <li{% if pag_num == items.number  %} class="active"{% endif %}><a href="{% if pag_num == 1 %}{{ category.get_absolute_url }}{% if page_linck %}?{{ page_linck|slice:"1:" }}{% endif %}{% else %}{{ category.get_absolute_url }}?page={{ pag_num }}{% if page_linck %}{{ page_linck }}{% endif %}{% endif %}">{{ pag_num }}</a></li>
                                {% else %}
                                    <li><a>{{ pag_num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if items.has_next %}
                            <li><a href="{{ category.get_absolute_url }}?page={{ items.next_page_number }}{% if page_linck %}{{ page_linck }}{% endif %}" class="btn btn-primary"><span class="icon-chevron-right"></span></a></li>
                            {% endif %}
                        </ul>
                    </div> <!-- /pagination -->
                </section> <!-- /main content -->
            </div>
        </div>
    </div> <!-- /container -->


{% endblock %}