/*
 * Bootstrap Responsive v2.3.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
@-ms-viewport { width: device-width; }

.hidden { display: none; visibility: hidden; }

.visible-phone { display: none !important; }

.visible-tablet { display: none !important; }

.hidden-desktop { display: none !important; }

.visible-desktop { display: inherit !important; }

@media (min-width: 768px) and (max-width: 979px) { .hidden-desktop { display: inherit !important; }
  .visible-desktop { display: none !important; }
  .visible-tablet { display: inherit !important; }
  .hidden-tablet { display: none !important; } }
@media (max-width: 767px) { .hidden-desktop { display: inherit !important; }
  .visible-desktop { display: none !important; }
  .visible-phone { display: inherit !important; }
  .hidden-phone { display: none !important; } }
.visible-print { display: none !important; }

@media print { .visible-print { display: inherit !important; }
  .hidden-print { display: none !important; } }
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0; }
.clearfix:after { clear: both; }

.hide-text { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.input-block-level { display: block; width: 100%; min-height: 37px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@media (min-width: 1200px) { .row { margin-left: -30px; *zoom: 1; }
  .row:before, .row:after { display: table; content: ""; line-height: 0; }
  .row:after { clear: both; }
  [class*="span"] { float: left; min-height: 1px; margin-left: 30px; }
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 1170px; }
  .span12 { width: 1170px; }
  .span11 { width: 1070px; }
  .span10 { width: 970px; }
  .span9 { width: 870px; }
  .span8 { width: 770px; }
  .span7 { width: 670px; }
  .span6 { width: 570px; }
  .span5 { width: 470px; }
  .span4 { width: 370px; }
  .span3 { width: 270px; }
  .span2 { width: 170px; }
  .span1 { width: 70px; }
  .shight3 { height: 270px; margin-bottom: 15px; }
  .offset12 { margin-left: 1230px; }
  .offset11 { margin-left: 1130px; }
  .offset10 { margin-left: 1030px; }
  .offset9 { margin-left: 930px; }
  .offset8 { margin-left: 830px; }
  .offset7 { margin-left: 730px; }
  .offset6 { margin-left: 630px; }
  .offset5 { margin-left: 530px; }
  .offset4 { margin-left: 430px; }
  .offset3 { margin-left: 330px; }
  .offset2 { margin-left: 230px; }
  .offset1 { margin-left: 130px; }
  .row-fluid { width: 100%; *zoom: 1; }
  .row-fluid:before, .row-fluid:after { display: table; content: ""; line-height: 0; }
  .row-fluid:after { clear: both; }
  .row-fluid [class*="span"] { display: block; width: 100%; min-height: 37px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; margin-left: 2.5641%; *margin-left: 2.51091%; }
  .row-fluid [class*="span"]:first-child { margin-left: 0; }
  .row-fluid .controls-row [class*="span"] + [class*="span"] { margin-left: 2.5641%; }
  .row-fluid .span12 { width: 100%; *width: 99.94681%; }
  .row-fluid .span11 { width: 91.45299%; *width: 91.3998%; }
  .row-fluid .span10 { width: 82.90598%; *width: 82.85279%; }
  .row-fluid .span9 { width: 74.35897%; *width: 74.30578%; }
  .row-fluid .span8 { width: 65.81197%; *width: 65.75877%; }
  .row-fluid .span7 { width: 57.26496%; *width: 57.21177%; }
  .row-fluid .span6 { width: 48.71795%; *width: 48.66476%; }
  .row-fluid .span5 { width: 40.17094%; *width: 40.11775%; }
  .row-fluid .span4 { width: 31.62393%; *width: 31.57074%; }
  .row-fluid .span3 { width: 23.07692%; *width: 23.02373%; }
  .row-fluid .span2 { width: 14.52991%; *width: 14.47672%; }
  .row-fluid .span1 { width: 5.98291%; *width: 5.92971%; }
  .row-fluid .offset12 { margin-left: 105.12821%; *margin-left: 105.02182%; }
  .row-fluid .offset12:first-child { margin-left: 102.5641%; *margin-left: 102.45772%; }
  .row-fluid .offset11 { margin-left: 96.5812%; *margin-left: 96.47481%; }
  .row-fluid .offset11:first-child { margin-left: 94.01709%; *margin-left: 93.91071%; }
  .row-fluid .offset10 { margin-left: 88.03419%; *margin-left: 87.92781%; }
  .row-fluid .offset10:first-child { margin-left: 85.47009%; *margin-left: 85.3637%; }
  .row-fluid .offset9 { margin-left: 79.48718%; *margin-left: 79.3808%; }
  .row-fluid .offset9:first-child { margin-left: 76.92308%; *margin-left: 76.81669%; }
  .row-fluid .offset8 { margin-left: 70.94017%; *margin-left: 70.83379%; }
  .row-fluid .offset8:first-child { margin-left: 68.37607%; *margin-left: 68.26969%; }
  .row-fluid .offset7 { margin-left: 62.39316%; *margin-left: 62.28678%; }
  .row-fluid .offset7:first-child { margin-left: 59.82906%; *margin-left: 59.72268%; }
  .row-fluid .offset6 { margin-left: 53.84615%; *margin-left: 53.73977%; }
  .row-fluid .offset6:first-child { margin-left: 51.28205%; *margin-left: 51.17567%; }
  .row-fluid .offset5 { margin-left: 45.29915%; *margin-left: 45.19276%; }
  .row-fluid .offset5:first-child { margin-left: 42.73504%; *margin-left: 42.62866%; }
  .row-fluid .offset4 { margin-left: 36.75214%; *margin-left: 36.64575%; }
  .row-fluid .offset4:first-child { margin-left: 34.18803%; *margin-left: 34.08165%; }
  .row-fluid .offset3 { margin-left: 28.20513%; *margin-left: 28.09875%; }
  .row-fluid .offset3:first-child { margin-left: 25.64103%; *margin-left: 25.53464%; }
  .row-fluid .offset2 { margin-left: 19.65812%; *margin-left: 19.55174%; }
  .row-fluid .offset2:first-child { margin-left: 17.09402%; *margin-left: 16.98763%; }
  .row-fluid .offset1 { margin-left: 11.11111%; *margin-left: 11.00473%; }
  .row-fluid .offset1:first-child { margin-left: 8.54701%; *margin-left: 8.44063%; }
  input, textarea, .uneditable-input { margin-left: 0; }
  .controls-row [class*="span"] + [class*="span"] { margin-left: 30px; }
  input.span12, textarea.span12, .uneditable-input.span12 { width: 1156px; }
  input.span11, textarea.span11, .uneditable-input.span11 { width: 1056px; }
  input.span10, textarea.span10, .uneditable-input.span10 { width: 956px; }
  input.span9, textarea.span9, .uneditable-input.span9 { width: 856px; }
  input.span8, textarea.span8, .uneditable-input.span8 { width: 756px; }
  input.span7, textarea.span7, .uneditable-input.span7 { width: 656px; }
  input.span6, textarea.span6, .uneditable-input.span6 { width: 556px; }
  input.span5, textarea.span5, .uneditable-input.span5 { width: 456px; }
  input.span4, textarea.span4, .uneditable-input.span4 { width: 356px; }
  input.span3, textarea.span3, .uneditable-input.span3 { width: 256px; }
  input.span2, textarea.span2, .uneditable-input.span2 { width: 156px; }
  input.span1, textarea.span1, .uneditable-input.span1 { width: 56px; }
  .thumbnails { margin-left: -30px; }
  .thumbnails > li { margin-left: 30px; }
  .row-fluid .thumbnails { margin-left: 0; } }
@media (min-width: 768px) and (max-width: 979px) { .row { margin-left: -20px; *zoom: 1; }
  .row:before, .row:after { display: table; content: ""; line-height: 0; }
  .row:after { clear: both; }
  [class*="span"] { float: left; min-height: 1px; margin-left: 20px; }
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 724px; }
  .span12 { width: 724px; }
  .span11 { width: 662px; }
  .span10 { width: 600px; }
  .span9 { width: 538px; }
  .span8 { width: 476px; }
  .span7 { width: 414px; }
  .span6 { width: 352px; }
  .span5 { width: 290px; }
  .span4 { width: 228px; }
  .span3 { width: 166px; }
  .span2 { width: 104px; }
  .span1 { width: 42px; }
  .offset12 { margin-left: 764px; }
  .offset11 { margin-left: 702px; }
  .offset10 { margin-left: 640px; }
  .offset9 { margin-left: 578px; }
  .offset8 { margin-left: 516px; }
  .offset7 { margin-left: 454px; }
  .offset6 { margin-left: 392px; }
  .offset5 { margin-left: 330px; }
  .offset4 { margin-left: 268px; }
  .offset3 { margin-left: 206px; }
  .offset2 { margin-left: 144px; }
  .offset1 { margin-left: 82px; }
  .row-fluid { width: 100%; *zoom: 1; }
  .row-fluid:before, .row-fluid:after { display: table; content: ""; line-height: 0; }
  .row-fluid:after { clear: both; }
  .row-fluid [class*="span"] { display: block; width: 100%; min-height: 37px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; margin-left: 2.76243%; *margin-left: 2.70924%; }
  .row-fluid [class*="span"]:first-child { margin-left: 0; }
  .row-fluid .controls-row [class*="span"] + [class*="span"] { margin-left: 2.76243%; }
  .row-fluid .span12 { width: 100%; *width: 99.94681%; }
  .row-fluid .span11 { width: 91.43646%; *width: 91.38327%; }
  .row-fluid .span10 { width: 82.87293%; *width: 82.81974%; }
  .row-fluid .span9 { width: 74.30939%; *width: 74.2562%; }
  .row-fluid .span8 { width: 65.74586%; *width: 65.69266%; }
  .row-fluid .span7 { width: 57.18232%; *width: 57.12913%; }
  .row-fluid .span6 { width: 48.61878%; *width: 48.56559%; }
  .row-fluid .span5 { width: 40.05525%; *width: 40.00206%; }
  .row-fluid .span4 { width: 31.49171%; *width: 31.43852%; }
  .row-fluid .span3 { width: 22.92818%; *width: 22.87499%; }
  .row-fluid .span2 { width: 14.36464%; *width: 14.31145%; }
  .row-fluid .span1 { width: 5.8011%; *width: 5.74791%; }
  .row-fluid .offset12 { margin-left: 105.52486%; *margin-left: 105.41848%; }
  .row-fluid .offset12:first-child { margin-left: 102.76243%; *margin-left: 102.65605%; }
  .row-fluid .offset11 { margin-left: 96.96133%; *margin-left: 96.85494%; }
  .row-fluid .offset11:first-child { margin-left: 94.1989%; *margin-left: 94.09251%; }
  .row-fluid .offset10 { margin-left: 88.39779%; *margin-left: 88.29141%; }
  .row-fluid .offset10:first-child { margin-left: 85.63536%; *margin-left: 85.52898%; }
  .row-fluid .offset9 { margin-left: 79.83425%; *margin-left: 79.72787%; }
  .row-fluid .offset9:first-child { margin-left: 77.07182%; *margin-left: 76.96544%; }
  .row-fluid .offset8 { margin-left: 71.27072%; *margin-left: 71.16434%; }
  .row-fluid .offset8:first-child { margin-left: 68.50829%; *margin-left: 68.4019%; }
  .row-fluid .offset7 { margin-left: 62.70718%; *margin-left: 62.6008%; }
  .row-fluid .offset7:first-child { margin-left: 59.94475%; *margin-left: 59.83837%; }
  .row-fluid .offset6 { margin-left: 54.14365%; *margin-left: 54.03726%; }
  .row-fluid .offset6:first-child { margin-left: 51.38122%; *margin-left: 51.27483%; }
  .row-fluid .offset5 { margin-left: 45.58011%; *margin-left: 45.47373%; }
  .row-fluid .offset5:first-child { margin-left: 42.81768%; *margin-left: 42.7113%; }
  .row-fluid .offset4 { margin-left: 37.01657%; *margin-left: 36.91019%; }
  .row-fluid .offset4:first-child { margin-left: 34.25414%; *margin-left: 34.14776%; }
  .row-fluid .offset3 { margin-left: 28.45304%; *margin-left: 28.34666%; }
  .row-fluid .offset3:first-child { margin-left: 25.69061%; *margin-left: 25.58422%; }
  .row-fluid .offset2 { margin-left: 19.8895%; *margin-left: 19.78312%; }
  .row-fluid .offset2:first-child { margin-left: 17.12707%; *margin-left: 17.02069%; }
  .row-fluid .offset1 { margin-left: 11.32597%; *margin-left: 11.21958%; }
  .row-fluid .offset1:first-child { margin-left: 8.56354%; *margin-left: 8.45715%; }
  input, textarea, .uneditable-input { margin-left: 0; }
  .controls-row [class*="span"] + [class*="span"] { margin-left: 20px; }
  input.span12, textarea.span12, .uneditable-input.span12 { width: 710px; }
  input.span11, textarea.span11, .uneditable-input.span11 { width: 648px; }
  input.span10, textarea.span10, .uneditable-input.span10 { width: 586px; }
  input.span9, textarea.span9, .uneditable-input.span9 { width: 524px; }
  input.span8, textarea.span8, .uneditable-input.span8 { width: 462px; }
  input.span7, textarea.span7, .uneditable-input.span7 { width: 400px; }
  input.span6, textarea.span6, .uneditable-input.span6 { width: 338px; }
  input.span5, textarea.span5, .uneditable-input.span5 { width: 276px; }
  input.span4, textarea.span4, .uneditable-input.span4 { width: 214px; }
  input.span3, textarea.span3, .uneditable-input.span3 { width: 152px; }
  input.span2, textarea.span2, .uneditable-input.span2 { width: 90px; }
  input.span1, textarea.span1, .uneditable-input.span1 { width: 28px; } }
@media (max-width: 767px) { body { padding-left: 20px; padding-right: 20px; }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin-left: -20px; margin-right: -20px; }
  .container-fluid { padding: 0; }
  .dl-horizontal dt { float: none; clear: none; width: auto; text-align: left; }
  .dl-horizontal dd { margin-left: 0; }
  .container { width: auto; }
  .row-fluid { width: 100%; }
  .row, .thumbnails { margin-left: 0; }
  .thumbnails > li { float: none; margin-left: 0; }
  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] { float: none; display: block; width: 100%; margin-left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .span12, .row-fluid .span12 { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .row-fluid [class*="offset"]:first-child { margin-left: 0; }
  .input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input { display: block; width: 100%; min-height: 37px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] { display: inline-block; width: auto; }
  .controls-row [class*="span"] + [class*="span"] { margin-left: 0; }
  .modal { position: fixed; top: 20px; left: 20px; right: 20px; width: auto; margin: 0; }
  .modal.fade { top: -100px; }
  .modal.fade.in { top: 20px; } }
@media (max-width: 480px) { .nav-collapse { -webkit-transform: translate3d(0, 0, 0); }
  .page-header h1 small { display: block; line-height: 19px; }
  input[type="checkbox"], input[type="radio"] { border: 1px solid #ccc; }
  .form-horizontal .control-label { float: none; width: auto; padding-top: 0; text-align: left; }
  .form-horizontal .controls { margin-left: 0; }
  .form-horizontal .control-list { padding-top: 0; }
  .form-horizontal .form-actions { padding-left: 10px; padding-right: 10px; }
  .media .pull-left, .media .pull-right { float: none; display: block; margin-bottom: 10px; }
  .media-object { margin-right: 0; margin-left: 0; }
  .modal { top: 10px; left: 10px; right: 10px; }
  .modal-header .close { padding: 10px; margin: -10px; }
  .carousel-caption { position: static; } }
@media (max-width: 979px) { body { padding-top: 0; }
  .navbar-fixed-top, .navbar-fixed-bottom { position: static; }
  .navbar-fixed-top { margin-bottom: 19px; }
  .navbar-fixed-bottom { margin-top: 19px; }
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding: 5px; }
  .navbar .container { width: auto; padding: 0; }
  .navbar .brand { padding-left: 10px; padding-right: 10px; margin: 0 0 0 -5px; }
  .nav-collapse { clear: both; }
  .nav-collapse .nav { float: none; margin: 0 0 9.5px; }
  .nav-collapse .nav > li { float: none; }
  .nav-collapse .nav > li > a { margin-bottom: 2px; }
  .nav-collapse .nav > .divider-vertical { display: none; }
  .nav-collapse .nav .nav-header { color: #777777; text-shadow: none; }
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { padding: 9px 15px; font-weight: bold; color: #777777; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
  .nav-collapse .btn { padding: 4px 10px 4px; font-weight: normal; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
  .nav-collapse .dropdown-menu li + li a { margin-bottom: 2px; }
  .nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus { background-color: #f2f2f2; }
  .navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a { color: #999999; }
  .navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus { background-color: rgba(0, 0, 0, 0.8); }
  .nav-collapse.in .btn-group { margin-top: 5px; padding: 0; }
  .nav-collapse .dropdown-menu { position: static; top: auto; left: auto; float: none; display: none; max-width: none; margin: 0 15px; padding: 0; background-color: transparent; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
  .nav-collapse .open > .dropdown-menu { display: block; }
  .nav-collapse .dropdown-menu:before, .nav-collapse .dropdown-menu:after { display: none; }
  .nav-collapse .dropdown-menu .divider { display: none; }
  .nav-collapse .nav > li > .dropdown-menu:before, .nav-collapse .nav > li > .dropdown-menu:after { display: none; }
  .nav-collapse .navbar-form, .nav-collapse .navbar-search { float: none; padding: 9.5px 15px; margin: 9.5px 0; border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-inverse .nav-collapse .navbar-form, .navbar-inverse .nav-collapse .navbar-search { border-top-color: rgba(0, 0, 0, 0.8); border-bottom-color: rgba(0, 0, 0, 0.8); }
  .navbar .nav-collapse .nav.pull-right { float: none; margin-left: 0; }
  .nav-collapse, .nav-collapse.collapse { overflow: hidden; height: 0; }
  .navbar .btn-navbar { display: block; }
  .navbar-static .navbar-inner { padding-left: 10px; padding-right: 10px; } }
@media (min-width: 980px) { .nav-collapse.collapse { height: auto !important; overflow: visible !important; } }
