{% extends "base.html" %}

{% block main %}
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'home' %}">Главная</a>
                        </li>
                        {% if category.parent.parent.parent %}<li><span class="icon-chevron-right"></span></li>
                        <li><a href="{{ category.parent.parent.parent.get_absolute_url }}">{{ category.parent.parent.parent }}</a></li>{% endif %}
                        {% if category.parent.parent %}<li><span class="icon-chevron-right"></span></li>
                        <li><a href="{{ category.parent.parent.get_absolute_url }}">{{ category.parent.parent }}</a></li>{% endif %}
                        {% if category.parent %}<li><span class="icon-chevron-right"></span></li>
                        <li><a href="{{ category.parent.get_absolute_url }}">{{ category.parent }}</a></li>{% endif %}
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="push-up blocks-spacer">
            <div class="row">

                <!--  ==========  -->
                <!--  = Sidebar =  -->
                <!--  ==========  -->
                <aside class="span3 left-sidebar" id="tourStep1">
                    <div class="sidebar-item sidebar-filters" id="sidebarFilters">

                        <!--  ==========  -->
                        <!--  = Sidebar Title =  -->
                        <!--  ==========  -->
                        <div class="underlined">
                        	<h3><span class="light">Категории</span></h3>
                        </div>

                        <!--  ==========  -->
                        <!--  = Categories =  -->
                        <!--  ==========  -->
                        <div class="accordion-group" id="tourStep2">
{#                            <div class="accordion-heading">#}
{#                                <a class="accordion-toggle" data-toggle="collapse" href="#filterOne">Категории <b class="caret"></b></a>#}
{#                            </div>#}
                            <div id="filterOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                {% if category.level == 1 %}
                                    {% for menu_left in category.category_parent.all %}
                                    <a href="{{ menu_left.get_absolute_url }}" class="selectable2{% if menu_left.pk == category.pk %} selected{% endif %}"><i class="box"></i> {{ menu_left }}</a>
                                        <ul style="list-style: none">{% for menu_left2 in menu_left.category_parent.all %}
                                            <li><a href="{{ menu_left2.get_absolute_url }}" class="selectable2{% if menu_left2.pk == category.pk %} selected{% endif %}"><i class="box"></i> {{ menu_left2 }}</a></li>
                                        {% endfor %}</ul>
                                    {% endfor %}
                                {% elif category.level == 2 %}
                                    {% for menu_left_top in category.parent.category_parent.all %}
                                        <a href="{{ menu_left_top.get_absolute_url }}" class="selectable2{% if menu_left_top.pk == category.pk %} selected{% endif %}"><i class="box"></i> {{ menu_left_top }}</a>
                                        {% if menu_left_top.pk == category.pk %}<ul style="list-style: none">{% for menu_left in category.category_parent.all %}
                                        <li><a href="{{ menu_left.get_absolute_url }}" class="selectable2"><i class="box"></i> {{ menu_left }}</a></li>
                                        {% endfor %}</ul>{% endif %}
                                    {% endfor %}

                                {% else %}
                                    {% for menu_left_top in category.parent.parent.category_parent.all %}
                                        <a href="{{ menu_left_top.get_absolute_url }}" class="selectable2"><i class="box"></i> {{ menu_left_top }}</a>
                                        {% if menu_left_top.pk == category.parent.pk %}<ul style="list-style: none">{% for menu_left in category.parent.category_parent.all %}
                                        <li><a href="{{ menu_left.get_absolute_url }}" class="selectable2{% if menu_left.pk == category.pk %} selected{% endif %}"><i class="box"></i> {{ menu_left }}</a></li>
                                        {% endfor %}</ul>{% endif %}
                                    {% endfor %}
                                {% endif %}

                                </div>
                            </div>
                        </div> <!-- /categories -->


                    </div>
                </aside> <!-- /sidebar -->

                <!--  ==========  -->
                <!--  = Main content =  -->
                <!--  ==========  -->
                <section class="span9">

                    <!--  ==========  -->
                    <!--  = Title =  -->
                    <!--  ==========  -->
                    <div class="underlined push-down-20">
                        <div class="row">
                            <div class="span3">
                                <h3><span class="light">Все</span> Товары ({{ item_count }})</h3>
                            </div>
                            <div class="span6">
                                <div class="form-inline sorting-by" id="tourStep4">
                                    <form method="post" style="margin: 0;">
                                        {% csrf_token %}
                                    <label for="numberShown" class="black-clr">Показывать по:</label>
                                    <select id="numberShown" class="span1" name="num_pages">
                                        <option value="9">25</option>
                                        <option value="15">50</option>
                                        <option value="30">100</option>
                                    </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /title -->
                    {% if category.seo_text %}
                    <article class="post format-standard sticky" id="text_hiden">
                        <div class="post-inner">
                            <div class="post-title">
                            	<h2><span class="light">{{ category }}</span></h2>
                            </div>
                            <div class="div_text_category">{% autoescape off %}{{ category.seo_text }}{% endautoescape %}</div>
                            <div class="text_block-overlay" style="display: block;"></div>
                            <div class="text_block-action" align="center">
                                <a href="#" class="readmore">Читать далее</a>
                            </div>
                        </div>
                    </article>
                    {% endif %}

                    <!--  ==========  -->
                    <!--  = Products =  -->
                    <!--  ==========  -->
                    <div class="row popup-products">
                        <div id="isotopeContainer" class="isotope-container">


                            {% for item in items %}
                    	    <div class="span3 shight3 filter--vests" data-price="{{ item.price }}" data-popularity="1" data-size="xs|m|xl|xxl" data-color="red|pink" data-brand="adidas">
                    	        <div class="product">

                    	            <div class="product-img">
                    	                <div class="picture">
                    	                    <img alt="{{ item }}" src="{{ item.thumbnail }}" />
                    	                    <div class="img-overlay">
                    	                        <a class="btn more btn-primary" href="{{ item.get_absolute_url }}">Подробнее</a>
                    	                        <a class="btn buy btn-danger" href="{{ item.get_goto_url }}">Купить</a>
                    	                    </div>
                    	                </div>
                    	            </div>
                                    <div class="product_info">
                                        <div class="main-titles no-margin">
                                            <h4 class="title" style="text-align: center">
                                                {% if item.oldprice %}
                                                <span class="striked">{{ item.oldprice }} р.</span>
                                                <span class="red-clr">{{ item.price }}р.</span>
                                                {% else %}{{ item.price }} р.
                                                {% endif %}
                                            </h4>
                                            <a class="no-margin isotope--title" href="{{ item.get_absolute_url }}">{{ item }}</a>
                                        </div>
                                        <p class="center-align stars">
                                            <span class="icon-star stars-clr"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                        </p>
                                    </div>
                    	        </div>
                    	    </div>
                            {% endfor %}



                    	</div>
                	</div>
                	<hr />
                    <!--  ==========  -->
					<!--  = Pagination =  -->
					<!--  ==========  -->
            	    <div class="pagination pagination-centered">
                        <ul>
                            {% if items.has_previous %}
                            <li><a href="{% if items.previous_page_number == 1 %}{{ category.get_absolute_url }}{% else %}{{ category.get_absolute_url }}?page={{ items.previous_page_number }}{% endif %}" class="btn btn-primary"><span class="icon-chevron-left"></span></a></li>
                            {% endif %}

{#                            {% for page in items.paginator.page_range %}#}
{#                            <li{% if page == items.number  %} class="active"{% endif %}><a href="{{ category.get_absolute_url }}?page={{ page }}">{{ page }}</a></li>#}
{#                            {% endfor %}#}
                            {% for pag_num in pages_list %}
                                {% if pag_num != "..." %}
                                    <li{% if pag_num == items.number  %} class="active"{% endif %}><a href="{% if pag_num == 1 %}{{ category.get_absolute_url }}{% else %}{{ category.get_absolute_url }}?page={{ pag_num }}{% endif %}">{{ pag_num }}</a></li>
                                {% else %}
                                    <li><a>{{ pag_num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if items.has_next %}
                            <li><a href="{{ category.get_absolute_url }}?page={{ items.next_page_number }}" class="btn btn-primary"><span class="icon-chevron-right"></span></a></li>
                            {% endif %}
                        </ul>
                    </div> <!-- /pagination -->
                </section> <!-- /main content -->
            </div>
        </div>
    </div> <!-- /container -->


{% endblock %}