{% extends "base.html" %}
 {% load staticfiles  %}

{% block main %}
    <br><br>
    {% comment %}
    <!--  ==========  -->
    <!--  = Slider Revolution =  -->
    <!--  ==========  -->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{{ STATIC_URL }}images/dummy/slides/1/slide.jpg" alt="slider img" width="1400" height="377" />

                    <!-- baloons -->
                    <div class="caption lft ltt"
                        data-x="570"
                        data-y="50"
                        data-speed="4000"
                        data-start="1000"
                        data-easing="easeOutElastic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/1/baloon1.png" alt="baloon" width="135" height="186" />
                    </div>

                    <div class="caption lft ltt"
                        data-x="770"
                        data-y="60"
                        data-speed="4000"
                        data-start="1200"
                        data-easing="easeOutElastic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/1/baloon3.png" alt="baloon" width="40" height="55" />
                    </div>

                    <div class="caption lft ltt"
                        data-x="870"
                        data-y="80"
                        data-speed="4000"
                        data-start="1500"
                        data-easing="easeOutElastic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/1/baloon2.png" alt="baloon" width="60" height="83" />
                    </div>

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        With Webmarket, the Sky Is the Limit
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        Take a tour on Webmarket HTML Template
                    </div>

                    <a href="features.html" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="260"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        ALL THEME FEATURES
                    </a>
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{{ STATIC_URL }}images/dummy/slides/2/slide.jpg" alt="slider img" width="1400" height="377" />

                    <!-- woman -->
                    <div class="caption lfb ltb"
                        data-x="800"
                        data-y="50"
                        data-speed="1000"
                        data-start="1000"
                        data-easing="easeInOutCubic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/2/woman.png" alt="woman" width="361" height="374" />
                    </div>

                    <!-- plane -->
                    <div class="caption lfl str"
                        data-x="400"
                        data-y="20"
                        data-speed="10000"
                        data-start="1000"
                        data-easing="linear">
                        <img src="{{ STATIC_URL }}images/dummy/slides/2/plane.png" alt="aircraft" width="117" height="28" />
                    </div>

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        Slider Revolution
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        This premium slider comes with the theme, as a bonus, for FREE!
                    </div>

                    <a href="features.html" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="260"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        AND MANY MORE ...
                    </a>
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{{ STATIC_URL }}images/dummy/slides/3/slide.jpg" alt="slider img" width="1400" height="377" />

                    <!-- phone -->
                    <div class="caption sfr fadeout"
                        data-x="950"
                        data-y="77"
                        data-speed="1000"
                        data-start="2500"
                        data-easing="easeInOutCubic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/3/phone.png" alt="phone in a hand" width="495" height="377" />
                    </div>

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="120"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        We Are Mobile Ready
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="190"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        Try to resize the browser window. The Webmarket will look awesome no matter the device screen resolution!
                    </div>

                    <a href="icons.html" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="260"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        And also all the icons are retina-ready...
                    </a>
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{{ STATIC_URL }}images/dummy/slides/4/slide.jpg" alt="slider img" width="1400" height="377" />

                    <!-- faces -->
                    <div class="caption lft ltt"
                        data-x="-150"
                        data-y="0"
                        data-speed="300"
                        data-start="2000"
                        data-easing="easeInOutCubic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/4/person1.png" alt="satisfied customer" width="108" height="204" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="0"
                        data-y="0"
                        data-speed="300"
                        data-start="2200"
                        data-easing="easeInOutCubic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/4/person2.png" alt="satisfied customer" width="108" height="321" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="500"
                        data-y="0"
                        data-speed="300"
                        data-start="2400"
                        data-easing="easeInOutCubic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/4/person3.png" alt="satisfied customer" width="108" height="139" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="720"
                        data-y="0"
                        data-speed="300"
                        data-start="2600"
                        data-easing="easeInOutCubic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/4/person4.png" alt="satisfied customer" width="108" height="191" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="940"
                        data-y="0"
                        data-speed="300"
                        data-start="2800"
                        data-easing="easeInOutCubic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/4/person5.png" alt="satisfied customer" width="108" height="139" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="1200"
                        data-y="0"
                        data-speed="300"
                        data-start="3000"
                        data-easing="easeInOutCubic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/4/person6.png" alt="satisfied customer" width="108" height="179" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="1350"
                        data-y="0"
                        data-speed="300"
                        data-start="3200"
                        data-easing="easeInOutCubic">
                        <img src="{{ STATIC_URL }}images/dummy/slides/4/person7.png" alt="satisfied customer" width="108" height="133" />
                    </div>

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120"
                        data-y="140"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeInOutBack">
                        Over 1000 Satisfied Customers
                    </div>

                    <div class="caption lfl small_theme"
                        data-x="120"
                        data-y="210"
                        data-speed="1000"
                        data-start="700"
                        data-easing="easeInOutBack">
                        Take a look at our profile page on the <a href="http://themeforest.net/user/ProteusThemes" target="_blank">ThemeForest</a>!
                    </div>

                    <a href="http://proteusthemes.ticksy.com/" class="caption lfl btn btn-primary btn_theme"
                        data-x="120"
                        data-y="280"
                        data-speed="1000"
                        data-start="900"
                        data-easing="easeInOutBack">
                        We provide support on Ticksy
                    </a>
                </li><!-- /slide -->
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
        <!--  ==========  -->
        <!--  = Nav Arrows =  -->
        <!--  ==========  -->
        <div id="sliderRevLeft"><i class="icon-chevron-left"></i></div>
        <div id="sliderRevRight"><i class="icon-chevron-right"></i></div>
    </div> <!-- /slider revolution -->
    {% endcomment %}
    {% comment %}
    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="push-up over-slider blocks-spacer">

                    <!--  ==========  -->
                    <!--  = Three Banners =  -->
                    <!--  ==========  -->
                    <div class="row">
                        <div class="span4">
                            <a href="#" class="btn btn-block banner">
                                <span class="title"><span class="light">SUMMER</span> SALE</span>
                                <em>up to 60% off on all shoes</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn btn-block colored banner">
                                <span class="title"><span class="light">FREE</span> SHIPPING</span>
                                <em>on orders over $69</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn btn-block banner">
                                <span class="title"><span class="light">NEW</span> PRODUCTS</span>
                                <em>for running on lorem ipsum dolor</em>
                            </a>
                        </div>
                    </div> <!-- /three banners -->
                </div>
            </div>
        </div>


        <!--  ==========  -->
        <!--  = Featured Items =  -->
        <!--  ==========  -->
        <div class="row featured-items blocks-spacer">
            <div class="span12">

                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
            	<div class="main-titles lined">
            	    <h2 class="title"><span class="light">Featured</span> Products</h2>
            	    <div class="arrows">
                        <a href="#" class="icon-chevron-left" id="featuredItemsLeft"></a>
                        <a href="#" class="icon-chevron-right" id="featuredItemsRight"></a>
                    </div>
            	</div>
            </div>

            <div class="span12">
                <!--  ==========  -->
                <!--  = Carousel =  -->
                <!--  ==========  -->
                <div class="carouFredSel" data-autoplay="false" data-nav="featuredItems">
                    <div class="slide">
                        <div class="row">





    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span4">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="{{ STATIC_URL }}images/dummy/featured-products/featured-1.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$38</h4>
    	            	            <h5 class="no-margin">Horsefeathers 251</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star"></span>

                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->





    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span4">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="{{ STATIC_URL }}images/dummy/featured-products/featured-2.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$70</h4>
    	            	            <h5 class="no-margin">Horsefeathers 269</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star"></span>
                    	            <span class="icon-star"></span>
                    	            <span class="icon-star"></span>
                    	            <span class="icon-star"></span>

                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->





    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span4">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="{{ STATIC_URL }}images/dummy/featured-products/featured-3.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$36</h4>
    	            	            <h5 class="no-margin">Horsefeathers 443</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>

                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->




            	        </div>
            	    </div>
            	    <div class="slide">
            	        <div class="row">


    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span4">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="{{ STATIC_URL }}images/dummy/featured-products/featured-1.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$36</h4>
    	            	            <h5 class="no-margin">Horsefeathers 462</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>

                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->





    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span4">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="{{ STATIC_URL }}images/dummy/featured-products/featured-2.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$85</h4>
    	            	            <h5 class="no-margin">Horsefeathers 398</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star"></span>
                    	            <span class="icon-star"></span>

                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->





    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span4">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="{{ STATIC_URL }}images/dummy/featured-products/featured-3.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$105</h4>
    	            	            <h5 class="no-margin">Horsefeathers 396</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star"></span>

                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->
    	            	    	            	</div>
                	</div>
                </div> <!-- /carousel -->
            </div>

        </div>
    </div> <!-- /container -->
    {% endcomment %}

    <!--  ==========  -->
    <!--  = New Products =  -->
    <!--  ==========  -->
    <div class="boxed-area blocks-spacer">
        <div class="container">

            <!--  ==========  -->
            <!--  = Title =  -->
            <!--  ==========  -->
            <div class="row">
                <div class="span12">
                    <div class="main-titles lined">
                    	<h2 class="title"><span class="light">Категории</span> товаров</h2>
                    </div>
                </div>
            </div> <!-- /title -->

            <div class="row popup-products blocks-spacer">
                {% for categ in category %}
                <!--  ==========  -->
                <!--  = Product =  -->
                <!--  ==========  -->
            	<div class="span3">
            	    <div class="product">
            	        <div class="product-img">
                            <div class="picture">
                                <img src="{% if not categ.images %}{% static 'images/no_img.png' %}{% else %}{{ MEDIA_URL }}{{ categ.images }}{% endif %}" alt="" width="540" height="374" />
                                <div class="img-overlay">
                                    <a href="{{ categ.get_absolute_url }}" class="btn more btn-primary">Подробнее</a>
{#                                    <a href="#" class="btn buy btn-danger">Add to Cart</a>#}
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title" style="text-align: center;"><a href="{{ categ.get_absolute_url }}">{{ categ }}</a></h4>
{#                            <h5 class="no-margin">{{ categ }}</h5>#}
                        </div>
                        <p class="desc">{% for sub_cat in categ.category_parent.all %}<a href="{{ sub_cat.get_absolute_url }}">{{ sub_cat }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{#                        <p class="center-align stars">#}
{#                            <span class="icon-star stars-clr"></span>#}
{#                            <span class="icon-star stars-clr"></span>#}
{#                            <span class="icon-star stars-clr"></span>#}
{#                            <span class="icon-star stars-clr"></span>#}
{#                            <span class="icon-star stars-clr"></span>#}
{#                        </p>#}
            	    </div>
            	</div> <!-- /product -->
                {% endfor %}








            </div>
        </div>
    </div> <!-- /new products -->
    {% comment %}
    <!--  ==========  -->
    <!--  = Most Popular products =  -->
    <!--  ==========  -->
    <div class="most-popular blocks-spacer">
    	<div class="container">

    	    <!--  ==========  -->
			<!--  = Title =  -->
			<!--  ==========  -->
    	    <div class="row">
    	    	<div class="span12">
    	    	    <div class="main-titles lined">
    	                <h2 class="title"><span class="light">Most</span> Popular Products</h2>
    	            </div>
    	    	</div>
    	    </div> <!-- /title -->

	    	<div class="row popup-products">



		        <!--  ==========  -->
				<!--  = Product =  -->
				<!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-img">
                            <div class="picture">
                                <img src="{{ STATIC_URL }}images/dummy/most-popular-products/popular-1.jpg" alt="" width="540" height="412" />
                                <div class="img-overlay">
                                    <a href="#" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title">$32</h4>
                            <h5 class="no-margin">Horsefeathers 496</h5>
                        </div>
                        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
                        <p class="center-align stars">
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>

                        </p>
                    </div>
                </div> <!-- /product -->



		        <!--  ==========  -->
				<!--  = Product =  -->
				<!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-img">
                            <div class="picture">
                                <img src="{{ STATIC_URL }}images/dummy/most-popular-products/popular-2.jpg" alt="" width="540" height="412" />
                                <div class="img-overlay">
                                    <a href="#" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title">$32</h4>
                            <h5 class="no-margin">Horsefeathers 188</h5>
                        </div>
                        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
                        <p class="center-align stars">
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>

                        </p>
                    </div>
                </div> <!-- /product -->



		        <!--  ==========  -->
				<!--  = Product =  -->
				<!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-img">
                            <div class="picture">
                                <img src="{{ STATIC_URL }}images/dummy/most-popular-products/popular-3.jpg" alt="" width="540" height="412" />
                                <div class="img-overlay">
                                    <a href="#" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title">$32</h4>
                            <h5 class="no-margin">Horsefeathers 405</h5>
                        </div>
                        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
                        <p class="center-align stars">
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>

                        </p>
                    </div>
                </div> <!-- /product -->



		        <!--  ==========  -->
				<!--  = Product =  -->
				<!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-img">
                            <div class="picture">
                                <img src="{{ STATIC_URL }}images/dummy/most-popular-products/popular-4.jpg" alt="" width="540" height="412" />
                                <div class="img-overlay">
                                    <a href="#" class="btn more btn-primary">More</a>
                                    <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title">$32</h4>
                            <h5 class="no-margin">Horsefeathers 225</h5>
                        </div>
                        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
                        <p class="center-align stars">
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star"></span>

                        </p>
                    </div>
                </div> <!-- /product -->
                    	    </div>
    	</div>
    </div> <!-- /most popular -->
    {% endcomment %}

    <!--  ==========  -->
    <!--  = Lastest News =  -->
    <!--  ==========  -->
    <div class="darker-stripe blocks-spacer more-space latest-news with-shadows">
    	<div class="container">

    	    <!--  ==========  -->
			<!--  = Title =  -->
			<!--  ==========  -->
    		<div class="row">
    			<div class="span12">
    			    <div class="main-titles center-align">
    			        <h2 class="title">
    			            <span class="clickable icon-chevron-left" id="tweetsLeft"></span> &nbsp;&nbsp;&nbsp;
    			            <span class="light">Последнии</span> Новости &nbsp;&nbsp;&nbsp;
    			            <span class="clickable icon-chevron-right" id="tweetsRight"></span>
			            </h2>
    			    </div>
    			</div>
    		</div> <!-- /title -->

    		<!--  ==========  -->
			<!--  = News content =  -->
			<!--  ==========  -->
    		<div class="row">
    		    <div class="span12">
    		        <div class="carouFredSel" data-nav="tweets" data-autoplay="false">


		                <!--  ==========  -->
						<!--  = Slide =  -->
						<!--  ==========  -->
                        {% for pages in slid_pages %}
                        <div class="slide">
                        	<div class="row">
                                {% for page in pages %}
                        		<div class="span6">
                        		    <div class="news-item">
                        		        <div class="published">{{ page.create|date:"d F Y" }}</div>
                        		        <h6><a href="{{ page.get_absolute_url }}">{{ page.name }}</a></h6>
                        		        <p><img src="{{ MEDIA_URL }}{{ page.images }}" />{{ page.min_text|linebreaksbr }}</p>
                        		    </div>
                        		</div>
                                {% endfor %}
                        	</div>
                        </div>
                        {% endfor %}

                        <!-- /slide -->

                    </div>
    		    </div>
    		</div> <!-- /news content -->
    	</div>
    </div> <!-- /latest news -->

    {% comment %}

    <!--  ==========  -->
    <!--  = Brands Carousel =  -->
    <!--  ==========  -->
	<div class="container blocks-spacer-last">

		<!--  ==========  -->
		<!--  = Title =  -->
		<!--  ==========  -->
		<div class="row">
		    <div class="span12">
		    	<div class="main-titles lined">
	                <h2 class="title"><span class="light">Our</span> Brands</h2>
                    <div class="arrows">
                        <a href="#" class="icon-chevron-left" id="brandsLeft"></a>
                        <a href="#" class="icon-chevron-right" id="brandsRight"></a>
                    </div>
	            </div>
		    </div>
		</div> <!-- /title -->

		<!--  ==========  -->
		<!--  = Logos =  -->
		<!--  ==========  -->
		<div class="row">
		    <div class="span12">
		    	<div class="brands carouFredSel" data-nav="brands" data-autoplay="true">
                    <img src="{{ STATIC_URL }}images/dummy/brands/brands_01.jpg" alt="" width="203" height="104" />
                    <img src="{{ STATIC_URL }}images/dummy/brands/brands_02.jpg" alt="" width="203" height="104" />
                    <img src="{{ STATIC_URL }}images/dummy/brands/brands_03.jpg" alt="" width="203" height="104" />
                    <img src="{{ STATIC_URL }}images/dummy/brands/brands_04.jpg" alt="" width="203" height="104" />
                    <img src="{{ STATIC_URL }}images/dummy/brands/brands_05.jpg" alt="" width="203" height="104" />
                    <img src="{{ STATIC_URL }}images/dummy/brands/brands_06.jpg" alt="" width="203" height="104" />
                </div>
		    </div>
		</div> <!-- /logos -->
	</div> <!-- /brands carousel -->
{% endcomment %}
{% endblock %}