{% extends "base.html" %}

{% block main %}
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'cat_index' %}">Каталог</a>
                        </li>
                        {% if category.parent.parent.parent %}<li><span class="icon-chevron-right"></span></li>
                        <li><a href="{{ category.parent.parent.parent.get_absolute_url }}">{{ category.parent.parent.parent }}</a></li>{% endif %}
                        {% if category.parent.parent %}<li><span class="icon-chevron-right"></span></li>
                        <li><a href="{{ category.parent.parent.get_absolute_url }}">{{ category.parent.parent }}</a></li>{% endif %}
                        {% if category.parent %}<li><span class="icon-chevron-right"></span></li>
                        <li><a href="{{ category.parent.get_absolute_url }}">{{ category.parent }}</a></li>{% endif %}
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="push-up top-equal blocks-spacer">

            <!--  ==========  -->
            <!--  = Product =  -->
            <!--  ==========  -->
            <div class="row blocks-spacer">

                <!--  ==========  -->
                <!--  = Preview Images =  -->
                <!--  ==========  -->
                <div class="span5">
                    <div class="product-preview">
                        <div class="picture">
                            <img src="{% if item.photo_item.all %}{{ item.photo_item.all.0.value }}{% else %}{{ item.picture }}{% endif %}" alt="" id="mainPreviewImg" />
                        </div>
                        {% if item.photo_item.all and item.photo_item.all.count > 1 %}
                        <div class="thumbs clearfix">
                            {% for photo in item.photo_item.all %}
                            <div class="thumb{% if forloop.first %} active{% endif %}">
                                <a href="#mainPreviewImg"><img src="{{ photo.value }}" alt="" /></a>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!--  ==========  -->
                <!--  = Title and short desc =  -->
                <!--  ==========  -->
                <div class="span7">
                    <div class="product-title">
                        <h1 class="name">{{ item }}</h1>
                        <div class="meta">
                            {% if item.oldprice %}<span class="tag"><s>{{ item.oldprice }} р.</s> <span style="color:red;">{{ item.price }} р.</span></span>
                                <br><br><p class="number"><i class="icon-hand-right"></i> Скидка {{ item.percent }}% | Экономия {{ item.savings }} руб.!</p>
                            {% else %}<span class="tag">{{ item.price }} р.</span>{% endif %}

                        </div>
                    </div>
                    <div class="product-description">
                        {% if item.text %}<p>{{ item.text }}</p>
                        <hr />{% endif %}
                        {% if item.param_item.all %}{% for params in item.param_item.all %}
                            {% if params.attr.show %}<b>{{ params.attr }}:</b> {{ params.value }}<br>{% endif %}
                        {% endfor %}
                        <hr />{% endif %}
                        <p>
                            <a href="{{ item.get_goto_url }}" class="btn btn-success btn-large bold"><strong>В НАЛИЧИИ</strong></a>
                            <a href="{{ item.get_goto_url }}" class="btn btn-warning btn-large bold"><strong>КУПИТЬ В ИНТЕРНЕТ-МАГАЗИНЕ {{ item.offer }}</strong></a>
                        </p>
                        <hr />

                    </div>
                </div>
            </div>
            {% comment %}
            <!--  ==========  -->
            <!--  = Tabs with more info =  -->
            <!--  ==========  -->
            <div class="row">
                <div class="span12">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-1" data-toggle="tab">Details</a>
                        </li>
                        <li>
                            <a href="#tab-2" data-toggle="tab">SIZING CHART</a>
                        </li>
                        <li>
                            <a href="#tab-3" data-toggle="tab">COMMENTS</a>
                        </li>
                        <li>
                            <a href="#tab-4" data-toggle="tab">SHIPPING DETAILS</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="fade in tab-pane active" id="tab-1">
                            <h3>Product Description</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui ante, vulputate at pellentesque eget, viverra ac dolor. Morbi interdum tortor non leo aliquam ac aliquet nulla porta. Morbi id dolor massa, ut ornare augue. Morbi tincidunt magna bibendum enim tristique tristique. Quisque a massa tellus, ac tempor magna. Sed eget ligula tellus, nec pellentesque dolor. Phasellus dictum, mauris non mollis ornare, turpis libero faucibus orci, at fringilla urna leo sodales libero. Aliquam nec lectus mauris. Morbi lectus quam, convallis vel euismod a, auctor non dui. Etiam a nisi risus.</p>
                            <p>Phasellus velit quam, ultrices et hendrerit vitae, suscipit nec dui. Sed at ligula vitae ligula pellentesque dictum. Duis lobortis auctor ipsum vel placerat. Phasellus nisi odio, ornare eget faucibus et, accumsan nec mauris. per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui ante, vulputate at pellentesque eget, viverra ac dolor.Etiam a nisi risus.</p>
                            <h1>Heading H1 30px</h1>
                            <h2>Heading H2 26px</h2>
                            <h3>Heading H3 20px</h3>
                            <h4>Heading H4 18px</h4>
                            <h5>Heading H5 15px</h5>
                            <p>Phasellus velit quam, ultrices et hendrerit vitae, suscipit nec dui. Sed at ligula vitae ligula pellentesque dictum. Duis lobortis auctor ipsum vel placerat. Phasellus nisi odio, ornare eget faucibus et, accumsan nec mauris. per conubia nostra, per inceptos himenaeos.</p>
                        </div>
                        <div class="fade tab-pane" id="tab-2">
                            <p>
                                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                            </p>
                        </div>
                        <div class="fade tab-pane" id="tab-3">
                            <p>
                                Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
                            </p>
                        </div>
                        <div class="fade tab-pane" id="tab-4">
                            <p>
                                Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr. Another text here ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </div>
    </div> <!-- /container -->


{% endblock %}