{% extends "base.html" %}
 {% load staticfiles  %}

{% block footer %}
        <!--  ==========  -->
        <!--  = Upper footer =  -->
        <!--  ==========  -->
        <div class="foot-light">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h2 class="pacifico">{{ site.sites.name }} &nbsp; <img src="{{ STATIC_URL }}images/webmarket.png" alt="Webmarket Cart" class="align-baseline" /></h2>
                        {% if request.META.PATH_INFO == '/' %}{% autoescape off %}{{ site.sites.about }}{% endautoescape %}{% endif %}
                    </div>
                    {% comment %}
                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title">Facebook</h3>
                        </div>
                        <div class="bordered">
                            <div class="fill-iframe">
                                <div class="fb-like-box" data-href="https://www.facebook.com/ProteusNet" data-width="292" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                            </div>
                        </div>
                    </div>
                    {% endcomment %}

                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Будь в курсе всех </span> скидок!</h3>
                        </div>
                        <p>Подпишись на рассылку акций и скидок.</p>

                        <!-- Begin MailChimp Signup Form -->
                        {% include 'email_code.html' %}
{#                        <div id="mc_embed_signup">#}
{#                            <form action="http://oblakomody.us7.list-manage1.com/subscribe/post?u=df8d8a367b3bac53c4567fca6&amp;id=e85ef764d9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>                            <div class="mc-field-group">#}
{#                                <input type="email" value="" placeholder="Введите ваш e-mail" name="EMAIL" class="required email" id="mce-EMAIL">#}
{#                                <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">#}
{#                            </div>#}
{#                            <div id="mce-responses" class="clear">#}
{#                                <div class="response" id="mce-error-response" style="display:none"></div>#}
{#                                <div class="response" id="mce-success-response" style="display:none"></div>#}
{#                            </div>#}
{##}
{#                            </form>#}
{#                        </div>#}
                        <!--End mc_embed_signup-->
                    </div>

                </div>
            </div>
        </div> <!-- /upper footer -->
{% endblock %}

{% block main %}


    <!--  ==========  -->
    <!--  = New Products =  -->
    <!--  ==========  -->
    <div class="boxed-area blocks-spacer">
        <div class="container">

            <!--  ==========  -->
            <!--  = Title =  -->
            <!--  ==========  -->
            <div class="row">
                <div class="span12">
                    <div class="main-titles lined">
                    	<h2 class="title"><span class="light">Категории</span> товаров</h2>
                    </div>
                </div>
            </div> <!-- /title -->

            <div class="row popup-products blocks-spacer">
                {% for categ in category %}
                <!--  ==========  -->
                <!--  = Product =  -->
                <!--  ==========  -->
            	<div class="span3">
            	    <div class="product">
            	        <div class="product-img">
                            <div class="picture">
                                <img src="{% if not categ.images %}{% static 'images/no_img.png' %}{% else %}{{ MEDIA_URL }}{{ categ.images }}{% endif %}" alt="" width="540" height="374" />
                                <div class="img-overlay">
                                    <a href="{{ categ.get_absolute_url }}" class="btn more btn-primary">Подробнее</a>
{#                                    <a href="#" class="btn buy btn-danger">Add to Cart</a>#}
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title" style="text-align: center;"><a href="{{ categ.get_absolute_url }}">{{ categ }}</a></h4>
{#                            <h5 class="no-margin">{{ categ }}</h5>#}
                        </div>
{#                        <p class="desc">{% for sub_cat in categ.category_parent.all %}<a href="{{ sub_cat.get_absolute_url }}">{{ sub_cat }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>#}
            	    </div>
            	</div> <!-- /product -->
                {% endfor %}








            </div>
        </div>
    </div> <!-- /new products -->

    <!--  ==========  -->
    <!--  = Most Popular products =  -->
    <!--  ==========  -->
    <div class="most-popular blocks-spacer">
    	<div class="container">

    	    <!--  ==========  -->
			<!--  = Title =  -->
			<!--  ==========  -->
    	    <div class="row">
    	    	<div class="span12">
    	    	    <div class="main-titles lined">
    	                <h2 class="title"><span class="light">Популярные</span> Товары</h2>
    	            </div>
    	    	</div>
    	    </div> <!-- /title -->

	    	<div class="row popup-products">



		        {% for item in items %}
                <div class="span3">
                    <div class="product">
                        <div class="product-img">
                            <div class="picture">
                                <img src="{{ item.thumbnail }}" alt="{{ item }}" />
                                <div class="img-overlay">
                                    <a href="{{ item.get_absolute_url }}" class="btn more btn-primary">Подробнее</a>
                                    <a href="{{ item.get_goto_url }}" rel="nofollow" class="btn buy btn-danger">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title">{% if item.oldprice %}
                                                <span class="striked">{{ item.oldprice }} р.</span>
                                                <span class="red-clr">{{ item.price }}р.</span>
                                                {% else %}{{ item.price }} р.
                                                {% endif %}</h4>
                            <a href="{{ item.get_absolute_url }}"><h5 class="no-margin fixheight">{{ item }}</h5></a>
                        </div>
{#                        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>#}
                    </div>
                </div>
                {% endfor %}

            </div>
    	</div>
    </div> <!-- /most popular -->


    <!--  ==========  -->
    <!--  = Lastest News =  -->
    <!--  ==========  -->
    <div class="darker-stripe blocks-spacer more-space latest-news with-shadows">
    	<div class="container">

    	    <!--  ==========  -->
			<!--  = Title =  -->
			<!--  ==========  -->
    		<div class="row">
    			<div class="span12">
    			    <div class="main-titles center-align">
    			        <h2 class="title">
    			            <span class="clickable icon-chevron-left" id="tweetsLeft"></span> &nbsp;&nbsp;&nbsp;
    			             <a href="{% url 'pagelist' %}">Статьи, советы, обзоры</a> &nbsp;&nbsp;&nbsp;
    			            <span class="clickable icon-chevron-right" id="tweetsRight"></span>
			            </h2>
    			    </div>
    			</div>
    		</div> <!-- /title -->

    		<!--  ==========  -->
			<!--  = News content =  -->
			<!--  ==========  -->
    		<div class="row">
    		    <div class="span12">
    		        <div class="carouFredSel" data-nav="tweets" data-autoplay="false">


		                <!--  ==========  -->
						<!--  = Slide =  -->
						<!--  ==========  -->
                        {% for pages in slid_pages %}
                        <div class="slide">
                        	<div class="row">
                                {% for page in pages %}
                        		<div class="span6">
                        		    <div class="news-item">
                        		        <div class="published">{{ page.create|date:"d F Y" }}</div>
                        		        <h6><a href="{{ page.get_absolute_url }}">{{ page.name }}</a></h6>
                        		        <p><img src="{{ MEDIA_URL }}{{ page.images }}" />{{ page.min_text|linebreaksbr }}</p>
                        		    </div>
                        		</div>
                                {% endfor %}
                        	</div>
                        </div>
                        {% endfor %}

                        <!-- /slide -->

                    </div>
    		    </div>
    		</div> <!-- /news content -->
    	</div>
    </div> <!-- /latest news -->


{% endblock %}