{% extends "base.html" %}
{% load staticfiles  %}

{% block metatsg %}
    {{ super }}
{% endblock %}

{% block main %}
    <!--  ==========  -->
    <!--  = Breadcrumbs =  -->
    <!--  ==========  -->
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">{{ site.sites.name }}</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="{% url 'shops' %}">Магазины</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="push-up blocks-spacer">
            <div class="row">

                <!--  ==========  -->
                <!--  = Sidebar =  -->
                <!--  ==========  -->
                <aside class="span3">
                    <div class="sidebar-item">

                        <!--  ==========  -->
                        <!--  = Sidebar Title =  -->
                        <!--  ==========  -->
                        <div class="underlined">
                        	<h3><span class="light"></span></h3>
                        </div>

                        <!--  ==========  -->
                        <!--  = Menu (affix) =  -->
                        <!--  ==========  -->
                        <div class="row">
                        	<div class="span3" id="spyMenu">
		                    	<ul class="nav nav-pills nav-stacked">
                                    {% for offer in offers %}
		                    	    <li><a href="#offer{{ offer.pk }}">{{ offer.name }} <i class="icon-caret-right pull-right"></i></a></li>
		                    	    {% endfor %}
		                    	</ul>
                        	</div>
                        </div>

                    </div>
                </aside> <!-- /sidebar -->

                <!--  ==========  -->
                <!--  = Main content =  -->
                <!--  ==========  -->
                <section class="span9">

                    <!--  ==========  -->
                    <!--  = Title =  -->
                    <!--  ==========  -->
                    <div class="underlined push-down-20">
                        <h3><span class="light">Список</span> магазинов</h3>
                    </div> <!-- /title -->

                    <!--  ==========  -->
                    <!--  = Headings =  -->
                    <!--  ==========  -->
                    {% for offer in offers %}
                    <section id="offer{{ offer.pk }}" class="comments-container">
                        <h3 class="push-down-20"><span class="light">Магазин</span> {{ offer.name }}</h3>
                    	    <div class="single-comment clearfix">
                                <div class="avatar-container">
                                    <img src="{{ MEDIA_URL }}{{ offer.images }}" alt="{{ offer.name }}" title="{{ offer.name }}" class="avatar" width="184" height="184" />
                                </div>
                                <div class="comment-content">
                                    <div class="comment-inner">
                                        <div class="comment-text">
                                            {% if offer.min_text %}{% autoescape off %}{{ offer.min_text }}{% endautoescape %}{% endif %}
                                        </div>
                                        <div class="metadata">
                                            <a href="{{ offer.get_absolute_url }}">Подробнее об {{ offer.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                	</section>
                    {% endfor %}



                	<hr />

                </section> <!-- /main content -->
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}