{% extends "base.html" %}
 {% load staticfiles catalog_tag %}

{% block metatsg %}
    {{ super }}
{% endblock %}

{% block main %}
    <!--  ==========  -->
    <!--  = Breadcrumbs =  -->
    <!--  ==========  -->
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">{{ site.sites.name }}</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="{% url 'shops' %}">Магазины</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="{{ one_offer.get_absolute_url }}">{{ one_offer.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="push-up blocks-spacer">
            <div class="row">

                <!--  ==========  -->
                <!--  = Sidebar =  -->
                <!--  ==========  -->
                <aside class="span3">
                    <div class="sidebar-item">

                        <!--  ==========  -->
                        <!--  = Sidebar Title =  -->
                        <!--  ==========  -->
                        <div class="underlined">
                        	<h3><span class="light"></span></h3>
                        </div>

                        <!--  ==========  -->
                        <!--  = Menu (affix) =  -->
                        <!--  ==========  -->
                        <div class="row">
                        	<div class="span3" id="spyMenu">
		                    	<ul class="nav nav-pills nav-stacked">
                                    {% for offer in offers %}
		                    	    <li{% if one_offer.pk == offer.pk %} class="active"{% endif %}><a href="{{ offer.get_absolute_url }}">{{ offer.name }} <i class="icon-caret-right pull-right"></i></a></li>
		                    	    {% endfor %}
		                    	</ul>
                        	</div>
                        </div>

                    </div>
                </aside> <!-- /sidebar -->

                <!--  ==========  -->
                <!--  = Main content =  -->
                <!--  ==========  -->
                <section class="span9 comments-container">

                    <h1 class="push-down-20" style="font-size: 20px;">{{ one_offer.name }} <span class="light" style="font-size: 14px;"> (найдено {{ one_offer.items|ru_price }} товаров)</span></h1>
                    <div class="single-comment clearfix">
                        <div class="avatar-container">
                            <img src="{{ MEDIA_URL }}{{ one_offer.images }}" alt="{{ one_offer.name }}" title="{{ one_offer.name }}" class="avatar" width="200" height="200" />
                        </div>
                        <div class="comment-content">
                            <div class="comment-inner">
                                <div class="comment-text">
                                    {% if one_offer.min_text %}{% autoescape off %}{{ one_offer.max_text }}{% endautoescape %}{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--  ==========  -->
                    <!--  = Tab style 2 =  -->
                    <!--  ==========  -->
                    <ul id="myTab2" class="nav nav-tabs nav-tabs-style-2">
                        <li class="active">
                            <a href="#tab2-1" data-toggle="tab">Способы оплаты</a>
                        </li>
                        <li>
                            <a href="#tab2-2" data-toggle="tab">Условия доставки</a>
                        </li>
                        <li>
                            <a href="#tab2-3" data-toggle="tab">Гарантии</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="fade in tab-pane active" id="tab2-1">
                            {% autoescape off %}{{ one_offer.payment }}{% endautoescape %}
                        </div>
                        <div class="fade tab-pane" id="tab2-2">
                            {% autoescape off %}{{ one_offer.return_policy }}{% endautoescape %}
                        </div>
                        <div class="fade tab-pane" id="tab2-3">
                            {% autoescape off %}{{ one_offer.guarantee }}{% endautoescape %}
                        </div>
                    </div>



                </section> <!-- /main content -->
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}