<ul class="dropdown-menu">
    {% for category_top in coupons_category_top %}
        {% if category_top.coupon_adv_cetegory_parent.all.count %}
        <li class="dropdown">
            <a href="features.html" class="dropdown-toggle"><i class="icon-caret-right pull-right visible-desktop"></i> {{ category_top }}</a>
            <ul class="dropdown-menu">
                {% for category_sub in coupons_category_sub %}
                {% if category_top.pk == category_sub.parent.pk %}<li><a href="features.html#headings">{{ category_sub }}</a></li>{% endif %}
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li><a href="icons.html">{{ category_top }}</a></li>
        {% endif %}
    {% endfor %}


</ul>