{% for category_top in catalog_category_top %}<li class="dropdown active">
    <a href="{{ category_top.get_absolute_url }}" class="dropdown-toggle"> {{ category_top }}{% if category_top.category_parent.all.count %} <b class="caret"></b> {% endif %}</a>
    {% if category_top.category_parent.all.count %}
    <ul class="dropdown-menu">
        {% for category_sub in catalog_category_sub %}{% if category_sub.parent.pk == category_top.pk %}<li><a href="{{ category_sub.get_absolute_url }}">{{ category_sub }}</a></li>{% endif %}
        {% endfor %}
    </ul>{% endif %}
</li>{% endfor %}