 {% load catalog_tag coupons_tag staticfiles catalog_tag  %}<!DOCTYPE html>
<!--[if lt IE 8]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% if seo.title %}{{ seo.title }}{% else %}{{ site.sites.title }}{% endif %}</title>
    <meta name="keywords" content="{% if seo.keywords %}{{ seo.keywords }}{% else %}{{ site.sites.keywords }}{% endif %}" />
    <meta name="description" content="{% if seo.description %}{{ seo.description }}{% else %}{{ site.sites.description }}{% endif %}" />
    {% autoescape off %}{{ site.sites.meta }}{% endautoescape %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="xSHOP">

    <!--  Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext,greek' rel='stylesheet' type='text/css'>
    
    <!-- Twitter Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/responsive.css" rel="stylesheet">
    <!-- Slider Revolution -->
    <link rel="stylesheet" href="{{ STATIC_URL }}js/rs-plugin/css/settings.css" type="text/css"/>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css"/>
    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="{{ STATIC_URL }}js/prettyphoto/css/prettyPhoto.css" type="text/css"/>
    <!-- main styles -->
     
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
     
    

    <!-- Modernizr -->
    <script src="{{ STATIC_URL }}js/modernizr.custom.56918.js"></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}images/apple-touch/144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch/114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch/72.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple-touch/57.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/apple-touch/57.png">
    {% block metatsg %}{% endblock %}
    {% block css %}{% endblock %}
  </head>

   
  <body class="" itemscope itemtype="http://schema.org/WebPage">

    <div class="master-wrapper">
     
    <!--  ==========  -->
    <!--  = Header =  -->
    <!--  ==========  -->
    <header id="header">
        <div class="container">
            <div class="row">
                
                <!--  ==========  -->
                <!--  = Logo =  -->
                <!--  ==========  -->
                <div class="span7">
                    <a class="brand" href="{% url 'home' %}">
                        <img src="{{ STATIC_URL }}images/oblakomody_logo.png" alt="{{ site.sites.name }}" width="48" height="48" />
                        <span class="pacifico">{{ site.sites.name }}</span>
                        <span class="tagline">{{ site.sites.description }}</span>
                    </a>
                </div>
                <div class="span5">
                    <div class="top-right">
                        <strong style="font-size: 40px; color: #FC6540; font-weight: normal; position: relative;">{{ base_item|ru_price }} <b style="color: #727272; font-size: 20px; font-weight: normal; position: relative; top: -5px;">Товаров</b></strong><br>
                        <img src="{% static 'images/bg_365.png' %}" alt="365 дней возврата" title="365 дней возврата" id="img_1" />
                        <img src="{% static 'images/bg_dostavka.png' %}" alt="Бесплатная доставка" title="Бесплатная доставка" id="img_2" /><br><br>
                    </div>
                </div>
                {% comment %}
                <!--  ==========  -->
                <!--  = Social Icons =  -->
                <!--  ==========  -->
                <div class="span5">
                    <div class="top-right">
                        <div class="icons">
                            <a href="http://www.facebook.com/ProteusNet"><span class="zocial-facebook"></span></a>
                            <a href="skype:primozcigler?call"><span class="zocial-skype"></span></a>
                            <a href="https://twitter.com/proteusnetcom"><span class="zocial-twitter"></span></a>
                            <a href="http://eepurl.com/xFPYD"><span class="zocial-rss"></span></a>
                            <a href="#"><span class="zocial-wordpress"></span></a>
                            <a href="#"><span class="zocial-android"></span></a>
                            <a href="#"><span class="zocial-html5"></span></a>
                            <a href="#"><span class="zocial-windows"></span></a>
                            <a href="#"><span class="zocial-apple"></span></a>
                        </div>
                        <div class="register">
                            <a href="#loginModal" role="button" data-toggle="modal">Login</a> or 
                            <a href="#registerModal" role="button" data-toggle="modal">Register</a>
                        </div>
                    </div>
                </div> <!-- /social icons -->
                {% endcomment %}
            </div>
        </div>
    </header>
    
    <!--  ==========  -->
    <!--  = Main Menu / navbar =  -->
    <!--  ==========  -->
    <div class="navbar navbar-static-top" id="stickyNavbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span12">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                
                <!--  ==========  -->
                <!--  = Menu =  -->
                <!--  ==========  -->
                <div class="nav-collapse collapse">
                  <ul class="nav" id="mainNavigation">
                    {% comment %}<li class="dropdown active"><a href="{% url 'home' %}" class="dropdown-toggle"> Главная</a></li>{% endcomment %}
                    {% catalog_top_menu %}


{#                    <li class="dropdown active">#}
{#                        <a href="contact.html" class="dropdown-toggle">Купоны и промокоды <b class="caret"></b> </a>#}
{#                        {% coupon_top_menu %}#}
{#                    </li>#}
                  </ul>
                  
                  <!--  ==========  -->
                  <!--  = Search form =  -->
                  <!--  ==========  -->
                  <form class="navbar-form pull-right" action="#" method="get">
                      <button type="submit"><span class="icon-search"></span></button>
                      <input type="text" class="span1" name="search" id="navSearchInput">
                  </form>
                </div><!-- /.nav-collapse -->
            </div>
            {% comment %}
            <!--  ==========  -->
            <!--  = Cart =  -->
            <!--  ==========  -->
            <div class="span3">
                <div class="cart-container" id="cartContainer">
                    <div class="cart">
                        <p class="items">CART <span class="dark-clr">(3)</span></p>
                        <p class="dark-clr hidden-tablet">$1816.90</p>
                        <a href="checkout-step-1.html" class="btn btn-danger">
                            <!-- <span class="icon icons-cart"></span> -->
                            <i class="icon-shopping-cart"></i>
                        </a>
                    </div>
                    <div class="open-panel">
                         
                        <div class="item-in-cart clearfix">
                            <div class="image">
                                <img src="images/dummy/cart-items/cart-item-1.jpg" width="124" height="124" alt="cart item" />
                            </div>
                            <div class="desc">
                                <strong><a href="product.html">Ipsum Dolor Adipiscing Ac Vulputate</a></strong>
                                <span class="light-clr qty">
                                    Qty: 1
                                    &nbsp;
                                    <a href="#" class="icon-remove-sign" title="Remove Item"></a>
                                </span>
                            </div>
                            <div class="price">
                                <strong>$1663</strong>
                            </div>
                        </div>
                         
                        <div class="item-in-cart clearfix">
                            <div class="image">
                                <img src="{{ STATIC_URL }}images/dummy/cart-items/cart-item-2.jpg" width="124" height="124" alt="cart item" />
                            </div>
                            <div class="desc">
                                <strong><a href="product.html">Dolor Elit Feugiat Ut</a></strong>
                                <span class="light-clr qty">
                                    Qty: 1
                                    &nbsp;
                                    <a href="#" class="icon-remove-sign" title="Remove Item"></a>
                                </span>
                            </div>
                            <div class="price">
                                <strong>$1260</strong>
                            </div>
                        </div>
                         
                        <div class="item-in-cart clearfix">
                            <div class="image">
                                <img src="{{ STATIC_URL }}images/dummy/cart-items/cart-item-3.jpg" width="124" height="124" alt="cart item" />
                            </div>
                            <div class="desc">
                                <strong><a href="product.html">Sit Elit Tincidunt Sed Vulputate Duis</a></strong>
                                <span class="light-clr qty">
                                    Qty: 1
                                    &nbsp;
                                    <a href="#" class="icon-remove-sign" title="Remove Item"></a>
                                </span>
                            </div>
                            <div class="price">
                                <strong>$4450</strong>
                            </div>
                        </div>
                         
                        <div class="summary">
                            <div class="line">
                                <div class="row-fluid">
                                    <div class="span6">Shipping:</div>
                                    <div class="span6 align-right">$4.99</div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="row-fluid">
                                    <div class="span6">Subtotal:</div>
                                    <div class="span6 align-right size-16">$357.81</div>
                                </div>
                            </div>
                        </div>
                        <div class="proceed">
                            <a href="checkout-step-1.html" class="btn btn-danger pull-right bold higher">CHECKOUT <i class="icon-shopping-cart"></i></a>
                            <small>Shipping costs are calculated based on location. <a href="#">More information</a></small>
                        </div>
                    </div>
                </div>
            </div> <!-- /cart -->
              {% endcomment %}
          </div>
        </div>
      </div>
    </div> <!-- /main menu -->
    
    {% block main %}

     {% endblock %}
    <!--  ==========  -->
    <!--  = Footer =  -->
    <!--  ==========  -->
    <footer>
        
        {% block footer %}{% endblock %}
        
        <!--  ==========  -->
        <!--  = Middle footer =  -->
        <!--  ==========  -->
        <div class="foot-dark">
            <div class="container">
                <div class="row">
                    
                    <!--  ==========  -->
                    <!--  = Menu 1 =  -->
                    <!--  ==========  -->
                    <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Полезная</span> информация</h3>
                        </div>
                        <ul class="nav bold">
                            <li><a href="/page/o_nas_6/">О нас</a></li>
                            <li><a href="/page/">Полезные советы</a></li>
                            <li><a href="{% url 'shops' %}">Магазины</a></li>
                        </ul>
                    </div>
                    
                    <!--  ==========  -->
                    <!--  = Menu 2 =  -->
                    <!--  ==========  -->
                    <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Для</span> женщин</h3>
                        </div>
                        <ul class="nav">
                            <li><a href="/catalog/cat_Bosonozhki_399/">Обувь на зиму</a></li>
                            <li><a href="/catalog/cat_Futbolki_i_Topy_373/">Женские футболки</a></li>
                            <li><a href="/catalog/cat_Sumki_342/">Женские сумочки</a></li>
                        </ul>
                    </div>
                    
                    <!--  ==========  -->
                    <!--  = Menu 3 =  -->
                    <!--  ==========  -->
                    <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Для</span> мужчин</h3>
                        </div>
                        <ul class="nav">
                            <li><a href="/catalog/cat_Slantsy_545/">Обувь на зиму</a></li>
                            <li><a href="/catalog/cat_Futbolki_i_polo_378/">Мужские кофты</a></li>
                            <li><a href="/catalog/cat_Remni_369/">Мужские ремни</a></li>
                        </ul>
                    </div>
                    
                    <!--  ==========  -->
                    <!--  = Menu 4 =  -->
                    <!--  ==========  -->
                    <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Для</span> детей</h3>
                        </div>
                        <ul class="nav">
                            <li><a href="/catalog/cat_Pulovery_dzhempery_499/">Кофты для девочек</a></li>
                            <li><a href="/catalog/cat_Futbolki_460/">Футболки для мальчиков</a></li>
                            <li><a href="/catalog/cat_Detskaia_obuv_393/">Обувь для детей</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- /middle footer -->
        
        <!--  ==========  -->
        <!--  = Bottom Footer =  -->
        <!--  ==========  -->
        <div class="foot-last">
            <a href="#" id="toTheTop">
                <span class="icon-chevron-up"></span>
            </a>
            {% comment %}
            <div class="container">
                <div class="row">
                    <div class="span6">
                        &copy; Copyright 2013. Images of products by <a target="_blank" href="http://www.horsefeathers.eu/">Horsefeathers</a>.
                    </div>
                    <div class="span6">
                        <div class="pull-right">Webmarket HTML Template by <a href="http://www.proteusthemes.com">ProteusThemes</a></div>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </div> <!-- /bottom footer -->

    </footer> <!-- /footer -->



    </div> <!-- end of master-wrapper -->


    {% autoescape off %}{{ site.sites.footer }}{% endautoescape %}
    <!--  ==========  -->
    <!--  = JavaScript =  -->
    <!--  ==========  -->

    <!--  = FB =  -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=126780447403102";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <!--  = jQuery - CDN with local fallback =  -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write('<script src="{{ STATIC_URL }}js/jquery.min.js"><\/script>');
    }
    </script>

    <!--  = _ =  -->
    <script src="{{ STATIC_URL }}js/underscore/underscore-min.js" type="text/javascript"></script>

    <!--  = Bootstrap =  -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>

    <!--  = Slider Revolution =  -->
    <script src="{{ STATIC_URL }}js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>

    <!--  = CarouFredSel =  -->
    <script src="{{ STATIC_URL }}js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>

    <!--  = jQuery UI =  -->
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3/touch-fix.min.js" type="text/javascript"></script>

    <!--  = Isotope =  -->
    <script src="{{ STATIC_URL }}js/isotope/jquery.isotope.min.js" type="text/javascript"></script>

    <!--  = Tour =  -->
    <script src="{{ STATIC_URL }}js/bootstrap-tour/build/js/bootstrap-tour.min.js" type="text/javascript"></script>

    <!--  = PrettyPhoto =  -->
    <script src="{{ STATIC_URL }}js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>

    <!--  = Google Maps API =  -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/goMap/js/jquery.gomap-1.3.2.min.js"></script>

    <!--  = Custom JS =  -->
    <script src="{{ STATIC_URL }}js/custom.js" type="text/javascript"></script>

    {% block javascript %}{% endblock %}

{#    [{{ request.META.HTTP_REFERER }}]#}
  </body>
</html>

    
    