<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
    <form action="http://oblakomody.us7.list-manage1.com/subscribe/post?u=df8d8a367b3bac53c4567fca6&amp;id=e85ef764d9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>                            <div class="mc-field-group">
        <input type="email" value="" placeholder="Введите ваш e-mail" name="EMAIL" class="required email" id="mce-EMAIL">
        <div class="mc-field-group">
        <label for="mce-FNAME">Введите Ваше имя </label>
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
            <input type="submit" value="Отправить" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>

    </form>
</div>
<!--End mc_embed_signup-->